body {
  overflow: hidden;
  font-family: "Lato", sans-serif;
}

div#container {
  width: 1200px;
  height: 600px;
  position: relative;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  outline: 1px solid #EBEBEB;
  cursor: pointer;
}

div#loading {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  transition: background 3s;
  background: rgba(255, 255, 255, 0.7);
}

canvas#game {
  position: absolute;
  z-index: 1;
  background: white;
  background: #333333
}

canvas#inventory {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.faded {
  background: rgba(0, 0, 0, 0.05);
}

div#menu {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
}

div#menu #logo {
  width: 100%;
  height: 125px;
  top: 150px;
  position: absolute;
  background: white url(../img/logo.svg) no-repeat center center;
}

#controls {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 12px;
}

.dropdown-button {
  width: 160px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  background: white url(../img/dropdown-icon.svg) no-repeat right 10px center;
  color: #404040;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
}

.dropdown-button:hover + .dropdown-content,
.dropdown-content:hover {
  left: 0;
}

.dropdown-button:hover {

}

.icon::before {
  content: '';
  display: block;
  float: left;
  margin-right: 10px;
  width: 14px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon.dropdown-button::before {
  background-image: url(../img/profile-icon.svg);
}

.icon#rename::before {
  background-image: url(../img/rename-icon.svg);
}

.icon#delete::before {
  background-image: url(../img/delete-icon.svg);
}

.icon#create::before {
  background-image: url(../img/create-icon.svg);
}

.dropdown {
  position: relative;
  z-index: 3;
  top: 25px;
  left: 50px;
  display: inline-block;
}

.dropdown-content {
  box-sizing: border-box;
  position: absolute;
  margin-top: -1px;
  left: -999px;
  background: white;
  border: 1px solid #E4E4E4;
  width: 160px;
}

.dropdown-content ul {
  margin: 0;
  padding: 0;
}

.dropdown-content ul#profiles {
  display: none;
}

.dropdown-content ul li {
  list-style: none;
}

.dropdown-content ul li.header {
  font-size: 12px;
  padding: 3px 10px;
  color: #777;
}

.dropdown-content a {
  height: 25px;
  line-height: 25px;
  display: block;
  font-size: 14px;
  padding: 0 10px;
  color: #404040;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #F1F1F1;
}

div#levels {
  margin-top: 425px;
  margin-left: 100px;
  width: 1200px;
  height: 50px;
}

div#levels::before {
  content: '';
  display: block;
  position: relative;
  top: 25px;
  width: 1000px;
  height: 1px;
  border-radius: 2px;
  background: #E4E4E4;
  z-index: 0;
}

div#levels .level {
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 25px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  /*border: 2px solid #E4E4E4;*/
  border-radius: 50%;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

div#levels .level > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

div#levels .level:hover {
  border-color: #CCC;
  cursor: pointer;
}

div#levels .level-name {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  margin-left: 50%;
  line-height: 15px;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  color: black;
}

div#levels .level-name.above {
  bottom: 100%;
  margin-bottom: 10px;
}

div#levels .level-name.below {
  top: 100%;
  margin-top: 10px;
}

div#levels .level-annotation {
  width: 1200px;
  height: 300px;
  padding: 50px 250px;
  box-sizing: border-box;
  top: 75px;
  left: 0;
  position: absolute;
  background-color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 26px;
  color: white;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 8s, color 4s;
}

div#levels .level:hover + .level-annotation {
  transition: opacity 1s, color 2s;
  opacity: 1;
  color: black;
}

.spinner {
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
